control
gym~=0.21.0
imageio
imageio-ffmpeg
matplotlib
pandas
pandas
pyglet~=1.5.27
pyvirtualdisplay
scikit-learn
scipy
seaborn
sklearn
torch
torchdiffeq>=0.2.3
TorchDiffEqPack
torchlaplace
torchvision
tqdm
wandb
